*{
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
/* <!--nishant - uppermost conatiner --> */
header {
  width: 100%;
  height: 120vh;
  background-image: url("./Aboutimages/singaporefinal.webp");
  background-size: cover;
}
#NfadeCont {
  background-color: rgb(71, 47, 37);
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
#NalignCont {
  height: 20vh;
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  height: 100%;
  width: 80%;
  display: flex;
  letter-spacing: 1px;
  font-family: Poppins;
}
nav > div {
  height: 100%;
}
#NlogoCont {
  width: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
#NlogoCont > a > img {
  width: 60%;
  height: 100%;
}
#NpageLinksCont {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
#NpageLinksCont > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
#NnavBtnCont {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8%;
}
#NnavBtnCont > button {
  padding: 5%;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 30px;
  cursor: pointer;
}
#Sh-logInBtn {
  background: none;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Sh-signInBtn {
  background-color: rgb(252, 101, 54);
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Sh-logInBtn:hover {
  background-color: rgb(252, 101, 54);
  color: white;
}
#Sh-signInBtn:hover {
  background: white;
  color: rgb(252, 101, 54);
}

/* /////////////////////////dropdown menu CSS////////////////////////////////// */

.dropdown {
  position: relative;
  margin-top: 4.5%;
  display: none;
}

/* Style for the dropdown button */
.dropdown-btn {
  background-color: rgb(44, 25, 25);
  border: none;
  cursor: pointer;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(252, 101, 54);
  min-width: 16vh;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for the dropdown items */
.dropdown-item {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* Change color on hover */
.dropdown-item:hover {
  background-color: black;
}
/* ----------------------header part---------------------------------- */
#headerAlignCont{
  width: 100%;
  height: 90vh;
  top: 20vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#NheadingInpContainer {
  height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    letter-spacing: 2px;
}
#NheadingInpContainer > h3 {
  color: white;
  font-size: 200%;
  margin: 0;
  text-shadow: 1px 1px black;
}
#NheadingInpContainer > h1 {
  color: white;
  font-size: 400%;
  margin: 1%;
  text-shadow: 1px 1px black;
}
#NheadingInpContainer > div {
  margin-top: 3%;
  height: 14%;
  width: 57%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.NlabelCont {
    box-sizing: border-box;
    box-shadow: rgba(92, 89, 89, 0.35) 0px 5px 15px;
    height: 100%;
    border-radius: 10px;
    width: 31%;
    padding: 2%;
    box-sizing: border-box;
}
#NheadingInpContainer > div > div > input {
    padding: 8% 0;
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
}
.Nlabels {
    display: block;
    font-size: 18px;
    font-weight: 600;
}
#Sh-btnCont {
    width: 13%;
    height: 100%;
    box-sizing: border-box;
}
#Sh-searchBtn {
    border-radius: 10px;
    padding-top: 18%;
    padding-bottom: 18%;
    width: 100%;
    border: none;
    background-color: rgb(252, 101, 54);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.NalignContainer {
  width: 100%;
  height: 20vh;
  top: 110vh;
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.NalignContainer > div {
  width: 80%;
  height: 20vh;
  display: grid;
  background-color: white;
  border-radius: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.NalignContainer > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding-left: 3%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.NpackageLogoCont {
  width: 20%;
  height: 80%;
}
.NpackageLogoCont > img {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}
.NpackageNames {
  width: 80%;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
}
.NpackageNames > a {
  text-decoration: none;
  color: rgb(133, 127, 127);
}
#NblankCont {
  width: 100%;
  height: 10vh;
}
.NcommonAlignCont {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
}
.NtransparentCont {
  height: 30vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.NtransparentCont > h1 {
  font-size: 600%;
  margin: 0;
  opacity: 0.1;
}
.NcommoneAlignforOverlapCont {
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
}
#Noverlap1stCont {
  top: 130vh;
  position: absolute;
  height: 30vh;
  width: 80%;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.NoverlapCont > h2 {
  font-size: 300%;
  letter-spacing: 1px;
}

/* ------------------partner Section---------------- */

.NalignCont5 {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
#NpartnerSection {
  height: 50vh;
  width: 80%;
  text-align: center;
  font-family: Poppins;
}
#NpartnerSection > div {
  margin-top: 5%;
  height: 20vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2%;
}
#NpartnerSection > article {
  height: fit-content;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}
#NpartnerSection > article > p {
  font-size: 150%;
  letter-spacing: 1px;
  color: gray;
}
#NpartnerSection > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
#NpartnerSection > div > div > h5 {
  font-size: 150%;
  letter-spacing: 1px;
}
/*nishant- mid-container-about */
.Nmid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1200px;
}

.Nmid-container-content {
  height: 1200px;
  width: 80%;
  display: grid;
  grid-template: 33% 33% 33% / 50% 50%;
  gap: 20px;
}

.Nmid-container-content > div {
  height: 100%;
  width: 95%;
}
.Nmid-container-content > div > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 500px 100px;
  border-bottom-right-radius: 500px 100px;
}
.Nmid-container-div2,
.Nmid-container-div4,
.Nmid-container-div6 {
  margin-left: 26px;
}
.Nmid-container-content h4 {
  margin-top: 5px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bolder;
}

.Nmid-container-content p {
  margin-top: -10px;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  color: rgb(159, 156, 156);
}

/*nishant - after mid */
.Nafter-mid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.Njoin-membership {
    background-image: url("./Aboutimages/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 80%;
    width: 80%;
    background-color: honeydew;
    border-radius: 20px;
}

.Njoin-membership p {
  margin-top: 30px;
  color: rgb(252, 101, 54);
  font-size: 30px;
  font-weight: 700;
  font-family: Poppins;
}

.Nmidcontainh3 {
  width: 800px;
  display: flex;
  text-align: center;
}
.Njoin-membership h3 {
  color: black;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
}

.Nafter-mid-button {
  background-color: rgb(252, 101, 54);
  color: white;
  border: none;
  border-radius: 14px;
  height: 60px;
  width: 200px;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 900;
}
/* nishant - footer css */
.Nabout-Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: black;
}

.Ncontent-Footer {
  display: grid;
  height: 250px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.Ncontent-Footer > div {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 30px;
}

.Ncontent-Footer > :nth-child(2),
.Ncontent-Footer > :nth-child(3) {
  margin-left: 80px;
}

.Ncontent-Footer > :nth-child(4) {
  margin-left: 150px;
}
.Ncontent-Footer p {
  margin: 0px;
}
#Nmargin-for-this {
  margin-top: 42px;
}

.Nfooter-Bold {
  color: white;
  font-size: larger;
  text-decoration: none;
  font-size: 18px;
  font-family: Poppins;
}
.Nfooter-Grey {
  color: rgb(159, 156, 156);
  text-decoration: none;
  font-size: 18px;
  font-family: Poppins;
}

.Nsocial-footer {
  display: flex;
  gap: 20px;
  margin-top: -10px;
}
.Nfacebookimg {
  width: 25px;
  height: 35px;
}

.Ntwitterimg {
  width: 25px;
  height: 35px;
}

.Ninstaimg {
  width: 25px;
  height: 35px;
}
.Nline-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: black;
}

#Nline-footer {
  width: 80%;
  height: 0.1px;
  border-radius: 10px;
  background-color: rgb(159, 156, 156);
}
.Nafter-line {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px;
  align-items: center;
}
.Nfooter-Grey2 {
  color: rgb(159, 156, 156);
  text-decoration: none;
  font-size: 13px;
  font-family: Poppins;
}

/* ---------------------------------------------- */

@media screen and (min-width: 450px) and (max-width: 675px){
  header{
      width: 100vw;
      height: 70vh;
  }
  #NalignCont{
      height: 15vh;
  }
  nav{
      width: 90%;
  }
  #NlogoCont > a > img{
      width: 100%;
  }
  #NpageLinksCont, #NnavBtnCont{
      display: none;
  }
  /* /////////////////////////dropdown menu CSS////////////////////////////////// */

  .dropdown{
      width: 85%;
      margin-top: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  } 

  .show {
      display: block; /* Use !important to override inline styles */
      top: 10vh;
      position: absolute;
  }
  /* ----------------------header part---------------------------------- */
  #headerAlignCont{
      height: 40vh;
  }
  #NheadingInpContainer{
      width: 90%;
  }
  #NheadingInpContainer > h3{
      font-size: 130%;
      text-align: center;
  }
  #NheadingInpContainer > h1{
      font-size: 250%;
      text-align: center;
  }
  #NheadingInpContainer > div{
      height: 25%;
      width: 90%;
      padding-right: 5%;
  }
  .Nlabels{
      font-size: 16px;
  }
  #Sh-searchBtn{
      padding-top: 11%;
      padding-bottom: 11%;
  }
/*---------------------package media queries-------------------------- */
  .NalignContainer{
      height: 35vh;
      top: 60vh;
  }
  .NalignContainer > div{
      width: 90%;
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
  }
  #NblankCont{
      height: 25vh;
  }
  .NcommonAlignCont{
      height: 15vh;
  }
  .NtransparentCont{
      height: 100%;
      width: 90%;
      align-items: flex-end;
  }
  .NtransparentCont > h1{
      font-size: 280%;
  }
  #Noverlap1stCont{
      top: 95vh;
      height: 15vh;
      width: 90%;
      align-items: flex-end;
  }
  .NoverlapCont > h2{
      font-size: 180%;
  }   
  /* ------------------partner Section---------------- */
  
  .NalignCont5{
      height: 50vh;
  }
  #NpartnerSection{
      height: 100%;
      width: 90%;
  }
  #NpartnerSection > div{
      margin-top: 10%;
      grid-template-columns: repeat(2, 1fr);
  }
  #NpartnerSection > article > p{
      font-size: 130%;
  }

  .Nmid-container {
    height: 140vh;
    box-sizing: border-box;
    padding: 8% 0;
  }
  
  .Nmid-container-content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 2%;
  }
  .Nmid-container-div2,
  .Nmid-container-div4,
  .Nmid-container-div6 {
    margin-left: 2%;
  }
  .Nmid-container-content h4 {
    font-size: 200%;
  }
  
  .Nmid-container-content p {
    font-size: 120%;
  }

  /* membership container medie queries*/
  .Nafter-mid-container {
    height: 50vh;
  }
  .Njoin-membership {
    width: 90%;
  }  
  .Njoin-membership p {
    font-size: 150%;
  }
  .Njoin-membership h3 {
    font-size: 200%;
    padding: 0 5%;
  }
  .Nmidcontainh3 {
    width: 100%;
  }
  /* footer css -----------------------------------------*/

  .Nabout-Footer {
    height: 40vh;
  }
  
  .Ncontent-Footer {
    height: 90%;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
  }
  .Ncontent-Footer > div {
    margin-top: 0;
    padding-top: 5%;
    letter-spacing: 1px;
  }
  
  .Ncontent-Footer > :nth-child(2),
  .Ncontent-Footer > :nth-child(3) {
    margin-left: 0;
  }
  
  .Ncontent-Footer > :nth-child(4) {
    margin-left: 0;
  }
  #Nline-footer {
    width: 90%;
  }
  .Nafter-line {
    width: 90%;
  }
  .Nfooter-Grey2 {
    font-size: 15px;
  }

}