    
    
  body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 120vh;
    background-image: url("./Blogs/world.jpg");
    background-size: cover;
}
#Sh-fadeCont{
    background-color: rgb(71, 47, 37);
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
#Sh-alignCont{
    height: 20vh;
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 100%;
    width: 80%;
    display: flex;
    letter-spacing: 1px;
    font-family: Poppins;
}
nav > div{
    height: 100%;
}
#Sh-logoCont{
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
#Sh-logoCont > a > img{
    width: 60%;
    height: 90%;

}
#Sh-pageLinksCont{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
#Sh-pageLinksCont > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
#Sh-navBtnCont{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8%;
}
#Sh-navBtnCont > button{
    padding: 5%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 30px;
    cursor: pointer;
}
#Sh-logInBtn{
    background: none;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Sh-signInBtn{
    background-color: rgb(252, 101, 54);
    border: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Sh-logInBtn:hover{
    background-color: rgb(252, 101, 54);
    color: white;
}
#Sh-signInBtn:hover{
    background: white;
    color: rgb(252, 101, 54);
}
#Sh-headingInpContainer{
    top: 20vh;
    position: absolute;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    letter-spacing: 2px;
}
#Sh-headingInpContainer > h3{
    color: white;
    font-size: 200%;
    margin: 0;
    text-shadow: 1px 1px black;
}
#Sh-headingInpContainer > h1{
    color: white;
    font-size: 400%;
    margin: 1%;
    text-shadow: 1px 1px black;   
}
#Sh-headingInpContainer > div{
    margin-top: 3%;
    height: 15%;
    width: 57%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 0 1.5% 0 1%;
    justify-content: space-between;
    align-items: center;
}
.Sh-labelCont{
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 90%;
    border-radius: 20px;
    width: 30%;
    padding: 1%;
}
#Sh-headingInpContainer > div > div > input {
    padding: 5% 10% 5% 1%;
    border: none;
    outline: none;
    font-size: 15px;
}
.Sh-labels{
    display: block;
    font-size: 20px;
    font-weight: 600;
}
#Sh-btnCont{
    width: 10%;
    height: 90%;
}
#Sh-searchBtn{
    border-radius: 20px;
    padding: 10% 8%;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Sh-alignContainer{
    width: 100%;
    height: 20vh;
    top: 110vh;
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.Sh-alignContainer > div{
    width: 80%;
    height: 20vh;
    display: grid;
    background-color: white;
    border-radius: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Sh-alignContainer > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-left: 3%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.Sh-packageLogoCont{
    width: 20%;
    height: 80%;
}
.Sh-packageLogoCont > img{
    width: 100%;
    height: 100%;
    border-radius: 30%;
}
.Sh-packageNames{
    width: 80%;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;  
}
.Sh-packageNames > a{
    text-decoration: none;
    color: rgb(133, 127, 127);
}
#Sh-blankCont{
    width: 100%;
    height: 10vh;
}
.Sh-commonAlignCont{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}
.Sh-transparentCont{
    height: 30vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Sh-transparentCont > h1{
    font-size: 600%;
    margin: 0;
    opacity: 0.1;
}
.Sh-commoneAlignforOverlapCont{
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
}
#Sh-overlap1stCont{
    top: 130vh;
    position: absolute;
    height: 30vh;
    width: 80%;
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Sh-overlapCont > h2{
    font-size: 300%;
    letter-spacing: 1px;
}
    
    
    
/* --------------------data wrapper styling-------------------------- */
#Sh-alignCont9{
    width: 100%;
    /* height: 300vh; */
    display: flex;
    justify-content: center;
     /* border: 1px solid red;  */
}
#data-Button-cont{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Sh-data-main-container1{
    width: 100%;
    padding: 7% 0;
    height:fit-content;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:auto;
    gap:4%;
    justify-content: center; 
    margin: auto;
     /* border:1px solid red;  */
}
  .subdiv{
    width:100%;
    /* height : 455px; */
  /*   border:1px solid red; */
    border-radius: 7%;
    text-align: center;
    box-sizing: border-box;
    font-family: Poppins;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .place-detail{
    margin: 0;
    padding: 0 2%;
    color: rgb(159, 156, 156);
  }
  .subdiv>img{
    width:100%;
    height:42%;
    border-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
   .btnR{
    color:white;
    background-color: red;
    padding:12px;
    border : none;
    border-radius:10px;
    position :relative;
    top: -20px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  } 
  
  .last{
    display:flex;
    justify-content:space-around;
    /* border: 1px solid green; */
  }
  
  .bookdiv{
    display:flex;
    justify-content:space-around;
    align-items: center;
  /*   border:1px solid green; */
    height : 10%;
  }
  
  .booknow{
    color:white;
    background-color: rgb(17, 17, 88); 
    padding:9px;
    border : none;
    border-radius:10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .booknow:hover{
    color: rgb(17, 17, 88);
    background-color: white;
    border: 2px solid rgb(17, 17, 88);
  }

  #btnContainer{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 2%;
  }

  #seeMoreCardBtn{
    color:white;
    background-color: rgb(252, 101, 54); 
    padding: 2% 3%;
    border : none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  #seeMoreCardBtn:hover{
    background-color: white;
    border: 2px solid rgb(252, 101, 54);;;
    color: rgb(252, 101, 54);;;
  }
    
    
    /* after last*/
.safter-mid-container {
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top: 100px; 
    width: 100%;
    height: 400px;
  }
  
  .sjoin-membership {
    background-image: url("./Aboutimages/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 400px;
    width: 80%;
    background-color: honeydew;
    border-radius: 20px;
  }
  
  .sjoin-membership p {
    margin-top: 30px;
    color: rgb(252, 101, 54);
    font-size: 30px;
    font-weight: 700;
    font-family: Poppins;
  }
  
  .smidcontainh3 {
    width: 800px;
    display: flex;
    text-align: center;
  }
  .sjoin-membership h3 {
    color: black;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 900;
  }
  
  .safter-mid-button {
    background-color: rgb(252, 101, 54);
    color: white;
    border: none;
    border-radius: 14px;
    height: 60px;
    width: 200px;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 900;
  }
  /* footer css */
  .Nabout-Footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: black;
  }
  
  .Ncontent-Footer {
    display: grid;
    height: 250px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .Ncontent-Footer > div {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 30px;
  }
  
  .Ncontent-Footer > :nth-child(2),
  .Ncontent-Footer > :nth-child(3) {
    margin-left: 80px;
  }
  
  .Ncontent-Footer > :nth-child(4) {
    margin-left: 150px;
  }
  .Ncontent-Footer p {
    margin: 0px;
  }
  #Nmargin-for-this {
    margin-top: 42px;
  }
  
  .Nfooter-Bold {
    color: white;
    font-size: larger;
    text-decoration: none;
    font-size: 18px;
    font-family: Poppins;
  }
  .Nfooter-Grey {
    color: rgb(159, 156, 156);
    text-decoration: none;
    font-size: 18px;
    font-family: Poppins;
  }
  
  .Nsocial-footer {
    display: flex;
    gap: 20px;
    margin-top: -10px;
  }
  .Nfacebookimg {
    width: 25px;
    height: 35px;
  }
  
  .Ntwitterimg {
    width: 25px;
    height: 35px;
  }
  
  .Ninstaimg {
    width: 25px;
    height: 35px;
  }
  .Nline-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: black;
  }
  
  #Nline-footer {
    width: 80%;
    height: 0.1px;
    border-radius: 10px;
    background-color: rgb(159, 156, 156);
  }
  .Nafter-line {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
    align-items: center;
  }
  .Nfooter-Grey1 {
   
    color: rgb(159, 156, 156);
    text-decoration: none;
    font-size: 20px;
    font-family: Poppins;
  }
  .Nfooter-Grey2 {
    color: rgb(159, 156, 156);
    text-decoration: none;
    font-size: 13px;
    font-family: Poppins;
  }


  /* pop */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 25px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    
}
.popup{

    width: 380px;
    height: 250px;
    background-size: cover;

}

#close{
  color:white;
    background-color: blue;
    padding:12px;
    margin-top: 25px;
    border : none;
    border-radius:10px;
    position :relative;
    top: -20px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#line{
  margin-top: 120px;
  padding-top: 0.2%;
background-color: black;
  width:92%
}