@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: white;
}

#Sh-alignCont{
    height: 20vh;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
  }
  nav{
    height: 100%;
    width: 80%;
    display: flex;
    letter-spacing: 1px;
  }
  nav > div{
    height: 100%;
  }
  #Sh-logoCont{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }
  #Sh-logoCont > a > img{
    width: 60%;
    height: 100%;
  
  }
  #Sh-pageLinksCont{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  #Sh-pageLinksCont > a{
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
  }
  #Sh-navBtnCont{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8%;
  }
  #Sh-navBtnCont > button{
    padding: 5%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 30px;
    cursor: pointer;
  }
  #Sh-logInBtn{
    background: none;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #Sh-signInBtn{
    background-color: rgb(252, 101, 54);
    border: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #Sh-logInBtn:hover{
    background-color: rgb(252, 101, 54);
    color: white;
  }
  #Sh-signInBtn:hover{
    background: white;
    color: rgb(252, 101, 54);
  }
  /* /////////////////////////dropdown menu CSS////////////////////////////////// */
  
  .dropdown {
    position: relative;
    margin-top: 4.5%;
    display: none;
  }
  
  /* Style for the dropdown button */
  .dropdown-btn {
    background-color: rgb(44, 25, 25);
    border: none;
    cursor: pointer;
  }
  
  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(252, 101, 54);
    min-width: 16vh;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Style for the dropdown items */
  .dropdown-item {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* Change color on hover */
  .dropdown-item:hover {
    background-color: black;
  }
  

.contactUs_49{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.contactUs_49 .title_49
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.contactUs_49 .title_49 h2{
    color: black;
    font-weight: 500;
}
.form
{
    grid-area: form;

}
.info
{
    grid-area: info;
}
.map
{
    grid-area: map;
}
.contact{
    padding: 40px;
    background:  white;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);

}
.box_49
{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}
.contact h3 
{
    color: rgb(252, 101, 52);
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}
/* form */
.formBox49{
    position: relative;
    width: 100%;
}
.formBox49 .row50 
{
    display: flex;
    gap: 20px;
}

.inputBox49
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox49 .row100 .inputBox49 {
    width: 100%;
}
.inputBox49 span 
{
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputBox49 input
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputBox49 textarea
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox49 input[type="submit"]
{
    background: rgb(252, 101, 52);
    color: #333;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputBox49 ::placeholder
{
    color: rgb(159, 156, 156);
}
/* info*/
.info
{
    background: rgb(255, 210, 195);
}
.info h3
{
    color: black;

}
.info .infoBox49 div
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.info .infoBox49 span
{
    min-width:40px;
    height: 40px;
    color:#333;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox49 div p 
{
    color: rgb(159,156,156);
    font-size: 1.1em;
}
.info .infoBox49 div a
{
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
}
.Social49
{
    margin-top: 40px;
    display: flex;
}
.Social49 li
{
    list-style: none;
    margin-right: 15px;
}
.Social49 li a
{
    color: #333;
    font-size: 2em;
    color: #333;
}
.map
{
    padding: 0;

}
.map iframe
{
  width: 100%;
  height: 100%;  
}
/* Footer Styles */
/* .Nabout-Footer {
    background-color: #141414;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  
  .Ncontent-Footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .Ncontent-footer-col1,
  .Ncontent-footer-col2,
  .Ncontent-footer-col3,
  .Ncontent-footer-col4 {
    flex: 1;
  }
  
  .Ncontent-footer-col1 a,
  .Ncontent-footer-col2 a,
  .Ncontent-footer-col3 a,
  .Ncontent-footer-col4 a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .Ncontent-footer-col1 a:hover,
  .Ncontent-footer-col2 a:hover,
  .Ncontent-footer-col3 a:hover,
  .Ncontent-footer-col4 a:hover {
    color: #f9ab00;
  }
  
  .Ncontent-footer-col2 p,
  .Ncontent-footer-col4 p {
    margin-bottom: 10px;
  }
  
  .Nsocial-footer {
    margin-top: 20px;
  }
  
  .Nsocial-footer a {
    margin-right: 20px;
  }
  
  .Nfacebookimg,
  .Ntwitterimg,
  .Ngoogleimg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
  
  .Ndivider-Footer {
    height: 1px;
    background-color: #454545;
    margin: 30px 0;
  }
  
  .Nbottom-footer {
    background-color: #0d0d0d;
    padding: 20px 0;
  }
  
  .Ncontent-bottom-footer {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .Ncopy-text,
  .Nprivacy-text {
    margin: 0;
    font-size: 12px;
  }
  
  .Nprivacy-text {
    margin-top: 10px;
  } */
  
/* footer Styling */
.Nafter-mid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.Njoin-membership {
  background-image: url("./Aboutimages/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 80%;
  background-color: honeydew;
  border-radius: 20px;
}

.Njoin-membership p {
  margin-top: 30px;
  color: rgb(252, 101, 54);
  font-size: 30px;
  font-weight: 700;
  font-family: Poppins;
}

.Nmidcontainh3 {
  width: 800px;
  display: flex;
  text-align: center;
}
.Njoin-membership h3 {
  color: black;
  font-size: 40px;
  font-weight: 700;
}

.Nafter-mid-button {
  background-color: rgb(252, 101, 54);
  color: white;
  border: none;
  border-radius: 14px;
  height: 60px;
  width: 200px;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 900;
}
/* footer css -----------------------------------------*/
.Nabout-Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: black;
}

.Ncontent-Footer {
  display: grid;
  height: 250px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.Ncontent-Footer > div {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 30px;
}

.Ncontent-Footer > :nth-child(2),
.Ncontent-Footer > :nth-child(3) {
  margin-left: 80px;
}

.Ncontent-Footer > :nth-child(4) {
  margin-left: 150px;
}
.Ncontent-Footer p {
  margin: 0px;
}
#Nmargin-for-this {
  margin-top: 42px;
}

.Nfooter-Bold {
  color: white;
  font-size: larger;
  text-decoration: none;
  font-size: 18px;
  font-family: Poppins;
}
.Nfooter-Grey {
  color: rgb(159, 156, 156);
  text-decoration: none;
  font-size: 18px;
  font-family: Poppins;
}

.Nsocial-footer {
  display: flex;
  gap: 20px;
  margin-top: -10px;
}
.Nfacebookimg {
  width: 25px;
  height: 35px;
}

.Ntwitterimg {
  width: 25px;
  height: 35px;
}

.Ninstaimg {
  width: 25px;
  height: 35px;
}
.Nline-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: black;
}

#Nline-footer {
  width: 80%;
  height: 0.1px;
  border-radius: 10px;
  background-color: rgb(159, 156, 156);
}
.Nafter-line {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px;
  align-items: center;
}
.Nfooter-Grey2 {
  color: rgb(159, 156, 156);
  text-decoration: none;
  font-size: 13px;
  font-family: Poppins;
}


@media (max-width: 767px) {
    .box_49 {
        grid-template-columns: 1fr; 
        grid-template-areas:
            "form"
            "info"
            "map";
    }

    .form,
    .info,
    .map {
        width: 100%; 
    }

    .formBox49 .row50,
    .formBox49 .row100 .inputBox49 {
        flex-direction: column; 
    }

    .inputBox49 {
        width: 100%;
        margin-bottom: 10px; 
    }

    .formBox49 .row50 .inputBox49,
    .formBox49 .row100 .inputBox49 {
        width: 100%; 
    }

    .info,
    .map {
        padding: 20px; 
    }
}

