body{
    margin: 0;
}
nav{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
}
#navLinksContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}
#navLinksContainer > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #2c3e50;
}
#navLinksContainer > a:hover{
    color: #56687a;
}

.dropbtn{
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    padding-top: 5%;
}
.dropdown:hover .dropbtn {
    color: #2c3e50;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    /* float: none; */
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

#navBtnContainer{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4%;
    box-sizing: border-box;
}
#searchBar{
    padding: 3% 5%;
    border-radius: 30px;
    margin-right: 4%;
    background-color: rgb(241, 241, 241);
    border: none;
    font-size: 20px;
}
#loginBtn{
    border: none;
    margin-right: 4%;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
#loginBtn:hover{
    color: #2c3e50;
}
#signBtn{
    padding: 3% 5%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(2, 2, 37);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
#signBtn:hover{
    background-color: rgb(46, 44, 73);
}
