body {
  margin: 0;
  padding: 0;
}
/* nishant-login-navbar */
#NalignCont {
  height: 15vh;
  width: 100%;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
nav {
  height: 100%;
  width: 80%;
  display: flex;
  letter-spacing: 1px;
  font-family: Poppins;
}
nav > div {
  height: 100%;
}
#NlogoCont {
  width: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
#NlogoCont > a > img {
  width: 60%;
  height: 90%;
}
#NpageLinksCont {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
a:hover {
  color: rgb(252, 101, 54);
}

#NpageLinksCont > a:hover {
  color: rgb(252, 101, 54);
}
#NpageLinksCont > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
#NnavBtnCont {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8%;
}
#NnavBtnCont > button {
  padding: 5%;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 30px;
  cursor: pointer;
}
#Sh-logInBtn {
  background: none;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Sh-signInBtn {
  background-color: rgb(252, 101, 54);
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Sh-logInBtn:hover {
  background-color: rgb(252, 101, 54);
  color: white;
}
#Sh-signInBtn:hover {
  background: white;
  color: rgb(252, 101, 54);
}

/* nishant-login-content */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
}

.login-main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("loginimages/background.jpg");
  background-size: cover;
  background-position: center;
}

.login-inner-container {
  width: 80%;
  display: flex;
}

.login-col1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: white;
}

.login-col1 h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.login-col1 p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.login-col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-col2 h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 2rem;
}

.login-col2 label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.login-col2 input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #fc6536;
  color: white;
  border: none;
  border-radius: 8px;
  height: 3rem;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #e0522d;
}

/* nishant-login-footer */
.Nabout-Footer {
  /* margin-top: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: black;
}

.Ncontent-Footer {
  display: grid;
  height: 250px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.Ncontent-Footer > div {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 30px;
}

.Ncontent-Footer > :nth-child(2),
.Ncontent-Footer > :nth-child(3) {
  margin-left: 80px;
}

.Ncontent-Footer > :nth-child(4) {
  margin-left: 150px;
}
.Ncontent-Footer p {
  margin: 0px;
}
#Nmargin-for-this {
  margin-top: 42px;
}

.Nfooter-Bold {
  color: white;
  font-size: larger;
  text-decoration: none;
  font-size: 18px;
  font-family: Poppins;
}
.Nfooter-Grey {
  color: rgb(159, 156, 156);
  text-decoration: none;
  font-size: 18px;
  font-family: Poppins;
}

.Nsocial-footer {
  display: flex;
  gap: 20px;
  margin-top: -10px;
}
.Nfacebookimg {
  width: 25px;
  height: 35px;
}

.Ntwitterimg {
  width: 25px;
  height: 35px;
}

.Ninstaimg {
  width: 25px;
  height: 35px;
}

.Nline-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: black;
}

#Nline-footer {
  width: 80%;
  height: 0.1px;
  border-radius: 10px;
  background-color: rgb(159, 156, 156);
}

.Nafter-line {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px;
  align-items: center;
}

.Nfooter-Grey2 {
  color: rgb(159, 156, 156);
  text-decoration: none;
  font-size: 13px;
  font-family: Poppins;
}
