* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.box {
  height: 500px;
  width: 500px;
  border: 2px solid red;
}

header {
  width: 100%;
  height: 20vh;
  /* background-image: url("https://cdn.pixabay.com/photo/2018/08/16/08/39/hallstatt-3609863_1280.jpg");
  
  background-size: cover; */
  background-color: black;
}
#Sh-fadeCont {
  background-color: rgb(71, 47, 37);
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

#Sh-alignCont {
  height: 15vh;
  width: 100%;
  display: flex;
  top: 0;
  position: sticky;
  background-color: black;
  justify-content: center;
  align-items: center;
  /* position: fixed;
  top: 0; */
  z-index: 1;

  
}
nav {
  height: 100%;
  width: 80%;
  display: flex;
  letter-spacing: 1px;
}
nav > div {
  height: 100%;
}
#Sh-logoCont {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
#Sh-logoCont > a > img {
  width: 60%;
  height: 100%;
}
#Sh-pageLinksCont {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
#Sh-pageLinksCont > a {
  text-decoration: none;
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}
#Sh-navBtnCont {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8%;
}
#Sh-navBtnCont > button {
  padding: 5%;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 30px;
  cursor: pointer;
}
#Sh-logInBtn {
  background: none;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Sh-signInBtn {
  background-color: rgb(252, 101, 54);
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Sh-logInBtn:hover {
  background-color: rgb(252, 101, 54);
  color: white;
}
#Sh-signInBtn:hover {
  background: white;
  color: rgb(252, 101, 54);
}
a:hover {
  color: rgb(252, 101, 54);
}

#Sh-pageLinksCont > a:hover {
  color: rgb(252, 101, 54);
}
/* /////////////////////////dropdown menu CSS////////////////////////////////// */

.dropdown {
  position: relative;
  margin-top: 4.5%;
  display: none;
}

/* Style for the dropdown button */
.dropdown-btn {
  background-color: rgb(44, 25, 25);
  border: none;
  cursor: pointer;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(252, 101, 54);
  min-width: 16vh;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for the dropdown items */
.dropdown-item {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* Change color on hover */
.dropdown-item:hover {
  background-color: black;
}

/*  ============================================= */

/* single card  csss  */

.continentcard {
  /* border: 2px solid red; */
  width: 350px;
  /* text-align: center; */
  border-radius: 25px;
  height: 400px;
  margin: 50px 0px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color:rgb(255, 249, 249) ;
  opacity: 0.9;
}

.continentcard:hover {
  transform: scale(1.05);
  transition: all 0.5s linear;
}
.overview {
  width: 350px;
  border-radius: 25px;
  margin: 50px 0px;
  /* background-color: #fff; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  background-color:rgb(255, 249, 249) ;
  opacity: 0.7;
}

.overview:hover {
  transform: scale(1.05);
  transition: all 0.5s linear;
  /* z-index: 1; */
}

.overview-word {
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
  color: #000000;
  display: block;
  line-height: 60px;
  
}

.overviewcontent {
  font-size: 20px;
  margin: 0px;
  font-family: Poppins;


}

/* .continentcard:hover {
  transform: scale(1.05);
  transition: all 0.4s linear;
} */
/* .continentcard:hover .continentname{
  font-size: 30px;

  transition: all 1s linear;
} */

.continentimg {
  width: 100%;
  height: 60%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#siglecard {
  margin: 40px auto 0px auto;
  display: block;
  width: 80%;
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* position: relative;
  top: 70px;
  left: 0px;
  z-index: -1; */
background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/20/blonde-1867768_640.jpg);
background-size: cover;
border-radius: 10px;

}

.continentname {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

.buttonconfrom {
  border-radius: 10px;
  display: block;
  text-align: center;
  margin: auto;
  /* font-weight: bold; */
  color: white;
  background-color: rgb(17, 17, 88);
  padding: 9px;
  border: 1px solid rgb(17, 17, 88);
  border-radius: 10px;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.buttonconfrom:hover {
  background-color: white;
  color: black;
}

.date {
  position: relative;
  top: 0px;
  right: -25px;
  /* left: 190px; */
  /* margin: 0px; */

  margin: 0px;
}

.price {
  text-align: center;
  position: relative;
  top: -25px;
  left: 80px;
  margin: 0px;
}

/*  travellor details input tag css */
.container {
  display: none;
  width: 40%;
  margin: auto;
  padding: 10px;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 50px;
  /* height: 500px; */
  /* border: 10px solid yellow; */

}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* billing details input css */
.billing-container {
  width: 40%;
  margin: 0px auto 10px auto;
  padding: 10px;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  display: none;
  /* height: 700px; */
  /* border: 10px solid blue; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.billing-title {
  text-align: center;
  color: #333;
}

.billing-label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.billing-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.billing-submit {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.billing-submit:hover {
  background-color: #45a049;
}

#includeBilling{
padding: 3px;
transform: scale(1.5);
margin-right: 15px;
}

.paymentpagealldetails {
  display: flex;
  /* border: 2px solid red; */
  width: 80%;
  margin: 40px auto 40px auto;
  justify-content: space-around;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgb(255, 255, 255);
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/20/blonde-1867768_640.jpg);
  background-size: cover;
  /* opacity: 0.7; */
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* all 3 container details */
.dmaincontainer {
  display: flex;
  border: 4px solid rgb(0, 0, 0);
  width: 80%;
  margin: auto;
}

.payment-container {
  /* border: 5px solid green; */
  width: 30%;
  /* max-height: 680px; */
  /* margin: auto; */

  padding: 20px;
  border-radius: 8px;
  
  margin-bottom: 30px;
  /* height: 1000px; */
  /* height: 20px; */
}





/* billing checkbox css
 */
.billing-checkbox {
  margin-bottom: 15px;
  color: #555;
}


/* /////////////////////////// */
/* payment from page css */


.payment-container {
  /* background-color: #fff; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 10px;
  border-radius: 8px;
  display: none;
  width: 40%;
  /* background-color: #fff; */
  margin: 20px auto 20px auto;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.payment-form {
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
}

.payment-input {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.payment-submit {
  width: 30%;
  background-color: #f1841e;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  border-radius:10px;
  font-size: 16px;
 
}

.payment-submit:hover {
  transition: all 0.3s linear;
  background-color: #43a53a;
  /* width: 30%;
  background-color: #f1841e; */
}

/* ///////////receipt css */
.payment_and_receipt {
  /* border: 5px solid rgb(4, 4, 4); */
  width: 80%;
  max-height: 820px;
  margin: 0px auto 30px auto;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  /* justify-content: space-evenly; */
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/20/blonde-1867768_640.jpg);
  background-size:cover;

  

}

.paymentreceipt {
  /* background-color: #fff; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  max-width: 400px;
  width: 40%;
  height: 550px;
  /* background-color: red; */
  display: none;
  background-color: #ffffff;
  opacity: 0.7;
  margin: auto;
  /* background-color: red; */

}

.payment-receipt:hover {
  transform: scale(1.05);
}
.payment_and_receipt:hover .thank-you-message{
  transform: scale(1.09);
  color: rgb(93, 93, 93);
  transition: all 0.7s linear;
}

.title {
  text-align: center;
  color: #333;
}

.receipt-section {
  margin-top: 20px;
}

.receipt-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total-amount {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  text-align: right;
}

.thank-you-message {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #555;
  font-weight: bold;

}

.payment-method-logo {
  max-width: 50px;
  height: auto;
}

.payment-method-details {
  display: flex;
  align-items: center;
}

.billing-address-section {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.travel-details-section {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
#billsubmit{
  /* margin-top: 140px; */
  width: 30%;
  background-color: #f1841e;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  border-radius:10px;
  font-size: 16px;

}

#billsubmit:hover{
  
    transition: all 0.3s linear;
    background-color: #43a53a;
    /* width: 30%;
    background-color: #f1841e; */
 
  
}


/* /////////////////////////////// */
/* footer css */
.Nabout-Footer {
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: black;
}

.Ncontent-Footer {
  display: grid;
  height: 250px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.Ncontent-Footer>div {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 30px;
}

.Ncontent-Footer> :nth-child(2),
.Ncontent-Footer> :nth-child(3) {
  margin-left: 80px;
}

.Ncontent-Footer> :nth-child(4) {
  margin-left: 150px;
}

.Ncontent-Footer p {
  margin: 0px;
}

#Nmargin-for-this {
  margin-top: 42px;
}

.Nfooter-Bold {
  color: white;
  font-size: larger;
  text-decoration: none;
  font-size: 18px;
  font-family: Poppins;
}

.Nfooter-Grey {
  color: rgb(159, 156, 156);
  text-decoration: none;
  font-size: 18px;
  font-family: Poppins;
}

.Nsocial-footer {
  display: flex;
  gap: 20px;
  margin-top: -10px;
}

.Nfacebookimg {
  width: 25px;
  height: 35px;
}

.Ntwitterimg {
  width: 25px;
  height: 35px;
}

.Ninstaimg {
  width: 25px;
  height: 35px;
}

.Nline-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: black;
}

#Nline-footer {
  width: 80%;
  height: 0.1px;
  border-radius: 10px;
  background-color: rgb(159, 156, 156);
}

.Nafter-line {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px;
  align-items: center;
}

.Nfooter-Grey2 {
  color: rgb(159, 156, 156);
  text-decoration: none;
  font-size: 13px;
  font-family: Poppins;
}

/* ------------------------For-Responsiveness-Queries--------------------------- */

@media screen and (min-width: 450px) and (max-width: 675px) {
  #Sh-alignCont {
    height: 15vh;
  }

  nav {
    width: 90%;
  }

  #Sh-logoCont>a>img {
    width: 100%;
  }

  #Sh-pageLinksCont,
  #Sh-navBtnCont {
    display: none;
  }

  /* /////////////////////////dropdown menu CSS////////////////////////////////// */

  .dropdown {
    width: 85%;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .show {
    display: block;
    /* Use !important to override inline styles */
    top: 10vh;
    position: absolute;
  }

  /* footer css -----------------------------------------*/

  .Nabout-Footer {
    height: 40vh;
  }

  .Ncontent-Footer {
    height: 90%;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
  }

  .Ncontent-Footer>div {
    margin-top: 0;
    padding-top: 5%;
    letter-spacing: 1px;
  }

  .Ncontent-Footer> :nth-child(2),
  .Ncontent-Footer> :nth-child(3) {
    margin-left: 0;
  }

  .Ncontent-Footer> :nth-child(4) {
    margin-left: 0;
  }

  #Nline-footer {
    width: 90%;
  }

  .Nafter-line {
    width: 90%;
  }

  .Nfooter-Grey2 {
    font-size: 15px;
  }
}



/* for payment part css self */
@media (max-width:850px) {



  #siglecard {
    margin: auto;
    display: block;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: space-around;
    height: 840px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   margin-top: 40px;
  }

  .continentcard {
    /* border: 2px solid red; */
    width: 87%;
    /* text-align: center; */
    border-radius: 25px;
    height: 400px;
    margin: 50px 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto 30px auto;
  }

  .overview {
    /* border: 2px solid red; */
    width: 80%;
    /* text-align: center; */
    border-radius: 25px;
    height: 350px;
    margin: 50px 0px;
    /* background-color: rgb(227, 255, 245); */
    background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 30px auto 0px auto;
  }

  /* 2contauner  start////////////////////////////////////// */
  .paymentpagealldetails {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
  }


  .container {
    display: none;
    width: 80%;
    margin: auto;
    padding: 10px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    /* height: 500px; */
    /* border: 10px solid yellow; */
  }

  .billing-container {
    width: 80%;
    margin: 0px auto 40px auto;
    padding: 10px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    display: none;
    /* height: 700px; */
    /* border: 10px solid blue; */
  }

   /* 2 contauner  end////////////////////////////////////*/


/* 3 contauner  start////////////////////////////////////*/
  .payment_and_receipt {
    width: 80%;
    margin: -110px auto 30px auto;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* display: none; */
    max-height: 2300px;
  }

  .payment-container {
    /* background-color: #fff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    display: none;
    width: 80%;
    /* background-color: #fff; */
    margin:30px auto;
  }

  .paymentreceipt {
    /* background-color: #fff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    max-width: 500px;
    width: 80%;
    height: 550px;
    /* background-color: red; */
    display: none;
    background-color: #ffffff;
    opacity: 0.7;
    margin: 0px auto 30px auto;
    /* background-color: red; */
  }
 /* 3 container end herer */
}



